-if @user
  %h1=@user.user_name
  -if !@user.bio.nil?
    %h5=@user.bio
  %h3=@user.user_name+ "'s posts"

  -@posts.each do |post|
    %li=link_to post.title , post_path(post)
    %br
-else
  %p="user not found"