= simple_form_for @post , :html => {:class => 'field'}  do |f|
        
        =f.input :title  , :class => 'form-control'
        =f.input :body 
        =f.input :tag_list
        =f.button :submit