


%h1.title=@post.title
%br

%a{:href => edit_post_path(@post), :class => 'btn', :title => 'Bar'} edit
%a{:href => edit_post_path(@post), :class => 'btn', :title => 'Bar'} delete
%br
%hr



=markdown (@post.body)
