





%h1.title=@post.title
%br

-if current_user==@post.user
	=link_to "delete post" ,post_path(@post), method: :delete
	=link_to "edit post" ,edit_post_path(@post)
%br
%hr



=markdown (@post.body)
