-if @user.link1t.present? and  @user.link1.present?
  =link_to @user.link1t , @user.link1

-if @user.link2t.present? and  @user.link2.present?
  =link_to @user.link2t , @user.link2

-if @user.link3t.present? and  @user.link3.present?
  =link_to @user.link3t , @user.link3

-if @user.link4t.present? and  @user.link4.present?
  =link_to @user.link4t , @user.link4

-if @user.link5t.present? and  @user.link5.present?
  =link_to @user.link5t , @user.link5

-if @user.link6t.present? and  @user.link6.present?
  =link_to @user.link6t , @user.link6




















